.footer-img-icon {
    position: absolute;
    top: 0;
    left: 967px;
    width: 577px;
    height: 484px;
    object-fit: cover;
    opacity: 0.07;
  }
  .copyright-xpro {
    margin: 0;
    position: absolute;
    top: 320px;
    left: 456px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 500;
  }
  .company,
  .footer-child {
    position: absolute;
    left: 0;
  }
  .footer-child {
    top: 278px;
    background-color: #e5e5ea;
    width: 1200px;
    height: 2px;
  }
  .company {
    top: 0;
    line-height: 24px;
  }
  .about-us {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .about-us-parent {
    position: absolute;
    top: 48px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
    font-size: var(--font-size-base);
  }
  .nav-list-item {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 97px;
    height: 198px;
  }
  .maldives-parent {
    position: absolute;
    top: 48px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: var(--font-size-base);
  }
  .nav-list-item1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 234px;
    width: 132px;
    height: 180px;
  }
  .join-our-newsletter {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-2xl);
    line-height: 24px;
    font-weight: 700;
  }
  .group-child {
    border: 0;
    background-color: #eef;
    position: absolute;
    top: 0;
    left: 0;
    width: 389px;
    height: 52px;
  }
  .your-email-address {
    position: absolute;
    top: 14px;
    left: 15px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 500;
    opacity: 0.2;
  }
  .group-item {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-salmon);
    position: absolute;
    top: 0;
    left: 240px;
    border-radius: var(--br-3xs);
    box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
    width: 149px;
    height: 52px;
  }
  .subscribe {
    position: absolute;
    top: 13px;
    left: 283px;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 500;
    color: var(--white);
  }
  .nav-list-item-inner,
  .rectangle-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 389px;
    height: 52px;
  }
  .nav-list-item-inner {
    top: 48px;
  }
  .will-send-you {
    display: block;
  }
  .will-send-you-container {
    margin: 0;
    position: absolute;
    top: 121px;
    left: 0;
    letter-spacing: -0.02em;
    line-height: 26px;
    font-weight: 500;
    white-space: pre-wrap;
    opacity: 0.5;
  }
  .nav-list-item2 {
    position: absolute;
    top: 0;
    left: 522px;
    width: 389px;
    height: 173px;
    font-size: var(--font-size-base);
  }
  .nav-wrap {
    position: absolute;
    top: 0;
    left: 289px;
    width: 911px;
    height: 198px;
  }
  .travel-helps-companies {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.02em;
    line-height: 28px;
    font-weight: 500;
    display: inline-block;
    width: 213px;
  }
  .messenger,
  .vector-icon {
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .vector-icon {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .messenger {
    text-decoration: none;
    left: 35.99px;
    width: 20px;
    height: 20px;
  }
  .vector-icon1,
  .vector-icon2 {
    position: absolute;
    height: 68.44%;
    width: 64.63%;
    top: 31.56%;
    right: 0;
    bottom: 0;
    left: 35.37%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon2 {
    height: 66.76%;
    width: 20.73%;
    top: 33.24%;
    right: 77.62%;
    left: 1.65%;
  }
  .linkedin,
  .vector-icon3 {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .vector-icon3 {
    height: 24.13%;
    width: 24.02%;
    right: 75.98%;
    bottom: 75.87%;
    max-width: 100%;
    max-height: 100%;
  }
  .linkedin {
    text-decoration: none;
    width: 20px;
    height: 20px;
  }
  .vector-icon4 {
    height: 81.25%;
    width: 100%;
    top: 9.38%;
    right: 0;
    bottom: 9.37%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .twitter,
  .vector-icon4,
  .vector-icon5 {
    position: absolute;
    overflow: hidden;
  }
  .twitter {
    text-decoration: none;
    top: 0;
    left: 71.97px;
    width: 20px;
    height: 20px;
  }
  .vector-icon5 {
    height: 54.23%;
    width: 100.15%;
    top: 22.88%;
    right: -0.15%;
    bottom: 22.88%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .messenger-parent,
  .twoo {
    position: absolute;
    height: 20px;
  }
  .twoo {
    text-decoration: none;
    top: 0;
    left: 107.96px;
    width: 20px;
    overflow: hidden;
  }
  .messenger-parent {
    top: 87px;
    left: 0;
    width: 127.96px;
  }
  .travel-helps-companies-manage-parent {
    position: absolute;
    top: 45px;
    left: 0;
    width: 213px;
    height: 107px;
    font-size: var(--font-size-base);
    color: #757095;
  }
  .nav-wrap-parent {
    position: absolute;
    top: 21px;
    left: 2px;
    width: 1200px;
    height: 198px;
    text-align: left;
    font-size: var(--font-size-2xl);
  }
  .travel {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: capitalize;
  }
  .logo-child {
    position: absolute;
    top: 26.04px;
    left: 28px;
    width: 98.6px;
    height: 38.14px;
    overflow: hidden;
  }
  .footer,
  .footer1,
  .logo {
    position: absolute;
    left: 0;
  }
  .logo {
    top: 0;
    width: 126.6px;
    height: 64.18px;
    font-size: 31.62px;
    color: var(--color-darkslateblue-100);
    font-family: var(--font-volkhov);
  }
  .footer,
  .footer1 {
    top: 94px;
    width: 1202px;
    height: 346px;
  }
  .footer {
    top: 3488px;
    left: 188px;
    width: 1544px;
    height: 484px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    font-family: var(--font-manrope);
  }
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  .div {
    left: 0;
    color: var(--st);
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    left: 35px;
  }
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    left: 70px;
  }
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    top: 35px;
    left: 0;
  }
  .div4,
  .div5,
  .div6,
  .div7 {
    left: 35px;
  }
  .div5,
  .div6,
  .div7 {
    left: 70px;
  }
  .div6,
  .div7 {
    left: 105px;
  }
  .div7 {
    top: 70px;
    left: 0;
  }
  .div8 {
    left: 35px;
  }
  .div10,
  .div11,
  .div12,
  .div13,
  .div8,
  .div9 {
    position: absolute;
    top: 70px;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  .div9 {
    left: 70px;
    color: var(--nd);
  }
  .div10,
  .div11,
  .div12,
  .div13 {
    left: 105px;
  }
  .div11,
  .div12,
  .div13 {
    left: 140px;
  }
  .div12,
  .div13 {
    top: 105px;
    left: 0;
  }
  .div13 {
    left: 35px;
  }
  .div14 {
    left: 70px;
  }
  .div14,
  .div15,
  .div16,
  .div17 {
    position: absolute;
    top: 105px;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  .div15 {
    left: 105px;
    color: var(--color-salmon);
  }
  .div16,
  .div17 {
    left: 140px;
  }
  .div17 {
    top: 140px;
    left: 0;
  }
  .div18 {
    left: 35px;
  }
  .background-element,
  .div18,
  .div19,
  .div20,
  .div21 {
    position: absolute;
    top: 140px;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  .div19 {
    left: 70px;
    color: var(--color-salmon);
  }
  .background-element,
  .div20,
  .div21 {
    left: 105px;
  }
  .background-element,
  .div21 {
    left: 140px;
  }
  .background-element {
    top: 447px;
    left: 0;
    width: 153px;
    height: 166px;
  }
  .image-872-icon {
    position: absolute;
    top: 0;
    left: 187px;
    width: 692px;
    height: 385px;
    object-fit: cover;
  }
  .illustration-child {
    position: absolute;
    top: -150px;
    left: -150px;
    width: 654px;
    height: 667px;
    opacity: 0.4;
  }
  .group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-7xl);
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
      0 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02),
      0 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01),
      0 20px 13px rgba(0, 0, 0, 0.01),
      0 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01),
      0 1.8518518209457397px 3.15px transparent;
    width: 370px;
    height: 400px;
  }
  .building-1-icon,
  .options-icon {
    position: absolute;
    top: 283px;
    left: 28px;
    width: 139px;
    height: 36px;
  }
  .building-1-icon {
    top: 348px;
    left: 25px;
    width: 16px;
    height: 16px;
  }
  .by-jr-martinax,
  .june,
  .people-are-interested {
    position: absolute;
    line-height: 124.5%;
    font-weight: 500;
  }
  .people-are-interested {
    top: 349px;
    left: 56px;
    letter-spacing: -0.02em;
  }
  .by-jr-martinax,
  .june {
    top: 242px;
    left: 25px;
  }
  .by-jr-martinax {
    left: 129px;
  }
  .rectangle-icon {
    position: absolute;
    top: 20px;
    left: 25px;
    border-radius: var(--br-7xl);
    width: 321px;
    height: 161px;
    object-fit: cover;
  }
  .trip-to-hawaii {
    position: absolute;
    top: 207px;
    left: 25px;
    font-size: var(--font-size-lg);
    letter-spacing: 0.02em;
    line-height: 124.5%;
    font-weight: 500;
    color: var(--black1);
  }
  .line-div {
    position: absolute;
    top: 242.5px;
    left: 115.5px;
    background-color: var(--text-2);
    border-right: 1px solid var(--text-2);
    box-sizing: border-box;
    width: 1px;
    height: 17px;
  }
  .rectangle-div,
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 400px;
  }
  .rectangle-div {
    border-radius: 18px;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
      0 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02),
      0 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01),
      0 20px 13px rgba(0, 0, 0, 0.01),
      0 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01),
      0 1.8518518209457397px 3.15px transparent;
    width: 263px;
    height: 129px;
  }
  .trip-to-rome {
    position: absolute;
    top: 39px;
    left: 81px;
    font-size: var(--font-size-lg);
    letter-spacing: -0.01em;
    line-height: 124.5%;
    font-weight: 500;
  }
  .completed1 {
    color: var(--black1);
  }
  .completed {
    position: absolute;
    top: 75px;
    left: 80px;
    letter-spacing: -0.05em;
    line-height: 124.5%;
    font-weight: 500;
    color: var(--color-salmon);
  }
  .ellipse-div,
  .mask-group-icon {
    position: absolute;
    top: 18px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
  .ellipse-div {
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 1px 9px 6px rgba(105, 104, 104, 0.13);
    opacity: 0.3;
  }
  .mask-group-icon {
    object-fit: cover;
  }
  .ongoing {
    position: absolute;
    top: 16px;
    left: 82px;
    letter-spacing: -0.04em;
    line-height: 124.5%;
    font-weight: 500;
    color: var(--text-2);
  }
  .group-child1 {
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--circle);
    width: 156px;
  }
  .group-child1,
  .group-child2,
  .group-div {
    position: absolute;
    height: 5px;
  }
  .group-child2 {
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-salmon);
    width: 73px;
  }
  .group-div {
    top: 102px;
    left: 82px;
    width: 156px;
  }
  .rectangle-container {
    position: absolute;
    top: 219px;
    left: 222px;
    width: 263px;
    height: 129px;
    font-size: var(--font-size-sm);
    color: var(--black1);
  }
  .heart-6-1,
  .image {
    position: absolute;
    top: 349.71px;
    left: 325px;
    width: 20px;
    height: 18.58px;
  }
  .image {
    top: 17px;
    left: 43px;
    width: 485px;
    height: 400px;
  }
  .illustration,
  .illustration1 {
    position: absolute;
    top: 127px;
    left: 26px;
    width: 528px;
    height: 417px;
    font-size: var(--font-size-base);
    color: var(--text-2);
    font-family: var(--font-poppins);
  }
  .illustration {
    top: 0;
    left: 726px;
    width: 879px;
    height: 600px;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-gainsboro-100);
    font-family: var(--font-roboto);
  }
  .get-your-favourite {
    margin: 0;
  }
  .heading1,
  .subheading {
    margin: 0;
    position: absolute;
    left: 0;
    font-weight: 700;
  }
  .heading1 {
    top: 42px;
    font-size: inherit;
    text-transform: capitalize;
    font-family: inherit;
  }
  .subheading {
    top: 0;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-salmon);
    text-align: center;
  }
  .heading,
  .value-01-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 458px;
    height: 172px;
  }
  .value-01-child {
    top: 4px;
    width: 47px;
    height: 48px;
    object-fit: cover;
  }
  .choose-destination,
  .lorem-ipsum-dolor-container {
    margin: 0;
    position: absolute;
    left: 68px;
    line-height: 124.5%;
  }
  .choose-destination {
    top: 0;
    font-weight: 700;
  }
  .lorem-ipsum-dolor-container {
    top: 24px;
  }
  .value-01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 395px;
    height: 64px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--text-clr);
    font-family: var(--font-poppins);
  }
  .value-03-child {
    position: absolute;
    top: 8px;
    left: 0;
    width: 47px;
    height: 48px;
  }
  .lorem-ipsum-dolor-container1 {
    margin: 0;
    position: absolute;
    top: 25px;
    left: 68px;
    line-height: 124.5%;
  }
  .value-03 {
    position: absolute;
    top: 220px;
    left: 0;
    width: 395px;
    height: 65px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--text-clr);
    font-family: var(--font-poppins);
  }
  .value-02-child {
    position: absolute;
    top: 10px;
    left: 0;
    width: 47px;
    height: 48px;
  }
  .context,
  .value-02,
  .values {
    position: absolute;
    left: 0;
    width: 395px;
  }
  .value-02 {
    top: 106px;
    height: 64px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--text-clr);
    font-family: var(--font-poppins);
  }
  .context,
  .values {
    top: 203px;
    height: 285px;
  }
  .context {
    top: 66px;
    width: 458px;
    height: 488px;
    text-align: left;
    font-size: var(--font-size-31xl);
    color: var(--color-darkslateblue-100);
    font-family: var(--font-volkhov);
  }
  .book-a-trip {
    position: absolute;
    top: 2822px;
    left: 277px;
    width: 1605px;
    height: 600px;
  }
  .div22,
  .div23,
  .div24 {
    position: absolute;
    left: 0;
  }
  .div22 {
    top: 0;
    color: var(--st);
  }
  .div23,
  .div24 {
    top: -35px;
  }
  .div24 {
    top: -70px;
  }
  .div25,
  .div26,
  .div27,
  .div28 {
    position: absolute;
    top: 0;
    left: 35px;
  }
  .div26,
  .div27,
  .div28 {
    top: -35px;
  }
  .div27,
  .div28 {
    top: -70px;
  }
  .div28 {
    top: -105px;
  }
  .div29,
  .div30,
  .div31 {
    position: absolute;
    top: 0;
    left: 70px;
  }
  .div30,
  .div31 {
    top: -35px;
  }
  .div31 {
    top: -70px;
    color: var(--nd);
  }
  .div32,
  .div33,
  .div34,
  .div35 {
    position: absolute;
    top: -105px;
    left: 70px;
  }
  .div33,
  .div34,
  .div35 {
    top: -140px;
  }
  .div34,
  .div35 {
    top: 0;
    left: 105px;
  }
  .div35 {
    top: -35px;
  }
  .div36 {
    top: -70px;
  }
  .div36,
  .div37,
  .div38,
  .div39 {
    position: absolute;
    left: 105px;
  }
  .div37 {
    top: -105px;
    color: var(--color-salmon);
  }
  .div38,
  .div39 {
    top: -140px;
  }
  .div39 {
    top: 0;
    left: 140px;
  }
  .div40 {
    top: -35px;
  }
  .div40,
  .div41,
  .div42,
  .div43 {
    position: absolute;
    left: 140px;
  }
  .div41 {
    top: -70px;
    color: var(--color-salmon);
  }
  .div42,
  .div43 {
    top: -105px;
  }
  .div43 {
    top: -140px;
  }
  .background-element1 {
    position: absolute;
    top: 2724px;
    left: 731px;
    width: 153px;
    height: 166px;
    color: var(--color-gainsboro-100);
    font-family: var(--font-roboto);
  }
  .illustration-item {
    position: absolute;
    top: 33.49px;
    left: 176.96px;
    width: 478.49px;
    height: 711.99px;
  }
  .honeymoon-packages {
    position: absolute;
    top: 745.31px;
    left: 90px;
    line-height: 67.91px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    opacity: 0.1;
  }
  .mask-group-icon1 {
    position: absolute;
    top: 53px;
    left: 162px;
    width: 476.4px;
    height: 690.57px;
    object-fit: cover;
  }
  .ellipse-icon,
  .illustration-child1,
  .illustration-inner {
    position: absolute;
    top: 0;
    left: 67px;
    border-radius: 50%;
    width: 230.89px;
    height: 230.89px;
    object-fit: cover;
  }
  .ellipse-icon,
  .illustration-child1 {
    top: 216.66px;
    left: -87.76px;
    width: 316.56px;
    height: 316.56px;
  }
  .illustration-child1 {
    top: -15.34px;
    left: 222.24px;
    width: 249.69px;
    height: 249.69px;
  }
  .illustration2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 654.4px;
    height: 745.48px;
    text-align: left;
    font-size: 51.19px;
    color: var(--black);
    font-family: var(--font-poppins);
  }
  .honeymoon-specials,
  .our-romantic-tropical {
    margin: 0;
    position: absolute;
    left: 0;
    font-weight: 700;
  }
  .honeymoon-specials {
    top: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .our-romantic-tropical {
    top: 28.56px;
    font-size: var(--font-size-31xl);
    line-height: 71.04px;
    font-family: var(--font-volkhov);
    color: var(--color-darkslateblue-100);
    display: inline-block;
    width: 583px;
    height: 142px;
  }
  .view-packages {
    position: relative;
    font-size: 16.72px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--white);
    text-align: center;
  }
  .button-search {
    cursor: pointer;
    border: 0;
    padding: 0 36.56597900390625px 9.402680397033691px 0;
    background-color: var(--color-salmon);
    position: absolute;
    top: 324px;
    left: 0;
    border-radius: var(--br-3xs);
    box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
    width: 176.56px;
    height: 56.42px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .context1,
  .et-labore-harum {
    position: absolute;
    width: 583px;
  }
  .et-labore-harum {
    margin: 0;
    top: 190px;
    left: 0;
    font-size: var(--font-size-base);
    line-height: 26px;
    color: var(--black);
    display: inline-block;
    height: 103px;
  }
  .context1 {
    top: 172px;
    left: 821px;
    height: 380.42px;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-salmon);
    font-family: var(--font-poppins);
  }
  .romantic-tropical-land {
    position: absolute;
    top: 1944px;
    left: 441px;
    width: 1404px;
    height: 745.48px;
  }
  .category,
  .we-offer-best {
    margin: 0;
    position: absolute;
    top: 0;
    left: 224px;
    font-weight: 600;
  }
  .we-offer-best {
    top: 47px;
    left: 0;
    font-size: var(--font-size-31xl);
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--font-volkhov);
    color: var(--color-darkslateblue-100);
  }
  .title {
    position: absolute;
    top: 0;
    left: 389px;
    width: 547px;
    height: 112px;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-salmon);
    font-family: var(--font-poppins);
  }
  .sunt-qui-repellat {
    margin: 0;
    position: absolute;
    top: 156px;
    left: 0;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 195px;
    height: 78px;
  }
  .guided-tours1 {
    margin: 0;
    position: absolute;
    top: 114px;
    left: 30px;
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--text-heading-color);
  }
  .guided-tours-child {
    position: absolute;
    top: 0;
    left: 60px;
    width: 87px;
    height: 85px;
    object-fit: cover;
  }
  .guided-tours {
    position: absolute;
    top: 35.09px;
    left: 0;
    width: 195px;
    height: 234px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--text-clr);
    font-family: var(--font-poppins);
  }
  .group-child3,
  .group-child4 {
    position: absolute;
    top: 247px;
    left: 0;
    width: 100px;
    height: 100px;
  }
  .group-child4 {
    top: 0;
    left: 35px;
    border-radius: 36px;
    background-color: var(--white);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02),
      0 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02),
      0 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01),
      0 20px 13px rgba(0, 0, 0, 0.01),
      0 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01),
      0 1.8518518209457397px 3.15px transparent;
    width: 267px;
    height: 314px;
  }
  .vector-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 302px;
    height: 347px;
  }
  .sunt-qui-repellat1 {
    margin: 0;
    position: absolute;
    top: 191.09px;
    left: 70px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 199px;
    height: 78px;
  }
  .best-flights-options {
    margin: 0;
    position: absolute;
    top: 149.09px;
    left: 69px;
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--text-heading-color);
  }
  .best-flight-options-selected-child {
    position: absolute;
    top: 20.09px;
    left: 131.81px;
    width: 103.19px;
    height: 92px;
    object-fit: cover;
  }
  .best-flight-options-selected {
    position: absolute;
    top: 0;
    left: 333px;
    width: 302px;
    height: 347px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--text-clr);
    font-family: var(--font-poppins);
  }
  .religious-tours1,
  .sunt-qui-repellat2 {
    margin: 0;
    position: absolute;
    top: 102.91px;
    left: 16px;
    font-weight: 600;
  }
  .sunt-qui-repellat2 {
    top: 145px;
    left: 0;
    font-size: var(--font-size-base);
    line-height: 26px;
    font-weight: 500;
    color: var(--text-clr);
    text-align: center;
    display: inline-block;
    width: 187px;
    height: 78px;
  }
  .religious-tours-child {
    position: absolute;
    top: 0;
    left: 53px;
    width: 83px;
    height: 74px;
    object-fit: cover;
  }
  .religious-tours {
    position: absolute;
    top: 46.09px;
    left: 773px;
    width: 187px;
    height: 223px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--text-heading-color);
    font-family: var(--font-poppins);
  }
  .sunt-qui-repellat3 {
    position: absolute;
    top: 148px;
    left: 1px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    width: 187px;
    height: 78px;
  }
  .medical-insurance1 {
    margin: 0;
    position: absolute;
    top: 106px;
    left: 0;
    font-size: var(--font-size-xl);
    font-weight: 600;
    color: var(--text-heading-color);
  }
  .medical-insurance-child {
    position: absolute;
    top: 0;
    left: 58px;
    width: 86px;
    height: 76px;
    object-fit: cover;
  }
  .medical-insurance {
    position: absolute;
    top: 43.09px;
    left: 1094px;
    width: 188px;
    height: 226px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--text-clr);
    font-family: var(--font-poppins);
  }
  .best-service,
  .header-child,
  .services {
    position: absolute;
    top: 132.91px;
    left: 0;
    width: 1282px;
    height: 347px;
  }
  .best-service,
  .header-child {
    top: 1286px;
    left: 320px;
    height: 479.91px;
  }
  .header-child {
    top: 0;
    left: 0;
    width: 1920px;
    height: 976px;
    object-fit: cover;
  }
  .vector-icon6 {
    position: absolute;
    top: 90px;
    left: 1024px;
    width: 11.6px;
    height: 7.48px;
  }
  .people-booked-tommorowland {
    margin: 0;
    position: absolute;
    top: 1.54px;
    left: 195.37px;
    line-height: 37.61px;
    font-weight: 500;
  }
  .group-child5 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
  }
  .group-child10,
  .group-child11,
  .group-child6,
  .group-child7,
  .group-child8,
  .group-child9 {
    position: absolute;
    top: 0;
    left: 24.3px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
  }
  .group-child10,
  .group-child11,
  .group-child7,
  .group-child8,
  .group-child9 {
    left: 48.6px;
  }
  .group-child10,
  .group-child11,
  .group-child8,
  .group-child9 {
    left: 72.89px;
  }
  .group-child10,
  .group-child11,
  .group-child9 {
    left: 97.19px;
  }
  .group-child10,
  .group-child11 {
    left: 121.49px;
  }
  .group-child11 {
    left: 145.79px;
  }
  .ellipse-parent {
    position: absolute;
    top: 0.25px;
    left: 0;
    width: 181.79px;
    height: 36px;
  }
  .div44 {
    position: absolute;
    top: 0;
    left: 160px;
    line-height: 37.61px;
    font-weight: 500;
  }
  .clients,
  .slogans {
    position: absolute;
    left: 0;
  }
  .clients {
    top: 403px;
    width: 568.37px;
    height: 39.54px;
    text-align: left;
    font-size: 12.54px;
    color: var(--white);
    font-family: var(--font-poppins);
  }
  .slogans {
    margin: 0;
    top: 29px;
    line-height: 67.91px;
    font-weight: 700;
    display: inline-block;
    width: 631px;
    height: 272px;
  }
  .searcging-tools-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5.22px;
    background-color: rgba(243, 243, 243, 0.6);
    backdrop-filter: blur(35.52px);
    width: 844px;
    height: 102px;
  }
  .submit {
    position: absolute;
    top: calc(50% - 12.21px);
    left: calc(50% - 31.28px);
    font-size: 16.72px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--white);
    text-align: center;
  }
  .button-search1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-salmon);
    position: absolute;
    top: 23px;
    left: 629px;
    border-radius: var(--br-3xs);
    box-shadow: 0 20px 35px rgba(223, 105, 81, 0.15);
    width: 176.56px;
    height: 56.42px;
  }
  .where-to {
    border: 0;
    font-family: var(--font-poppins);
    font-size: 18.81px;
    background-color: transparent;
    position: absolute;
    top: 39px;
    left: 22px;
    color: var(--white);
    text-align: left;
  }
  .akar-iconschevron-down {
    position: absolute;
    top: 39px;
    left: 374px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .searcging-tools {
    position: absolute;
    top: 273px;
    left: 11px;
    width: 844px;
    height: 102px;
  }
  .context-child,
  .group-select,
  .group-select1 {
    position: absolute;
    top: 312px;
    left: 234px;
    width: 140px;
    height: 28px;
  }
  .context-child,
  .group-select1 {
    left: 473px;
    width: 112px;
  }
  .context-child {
    top: -0.03px;
    left: -2.34px;
    border-radius: 2.09px;
    width: 83.03px;
    height: 16.87px;
  }
  .context2,
  .context3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 855px;
    height: 375px;
  }
  .context2 {
    top: 298px;
    left: 320px;
    height: 442.54px;
    text-align: left;
    font-size: 58.51px;
    color: var(--white);
    font-family: var(--font-poppins);
  }
  .header-inner,
  .header-item {
    position: absolute;
    top: 600px;
    left: 499px;
    border-radius: var(--br-6xl);
    background-color: var(--color-lightgray);
    width: 3px;
    height: 48px;
  }
  .header-inner {
    left: 750px;
  }
  .about,
  .home {
    text-decoration: none;
    color: inherit;
  }
  .home {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
    cursor: pointer;
  }
  .about {
    left: 97px;
  }
  .about,
  .services1,
  .upcomming-packages {
    position: absolute;
    top: 0;
    font-weight: 500;
  }
  .services1 {
    margin: 0;
    left: 196px;
  }
  .upcomming-packages {
    text-decoration: none;
    left: 312px;
    color: inherit;
  }
  .nav-elements {
    margin: 0;
    position: absolute;
    top: 18px;
    left: 0;
    width: 485px;
    height: 22px;
  }
  .group-child12 {
    position: absolute;
    top: -15px;
    left: -35px;
    border-radius: var(--br-3xs);
    width: 222px;
    height: 128px;
  }
  .get-in-touch {
    position: absolute;
    top: 18px;
    left: 26px;
    font-size: var(--font-size-mid);
    font-weight: 500;
    font-family: var(--font-circular-std);
    color: var(--white);
    text-align: left;
  }
  .sign-in,
  .vector-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 152px;
    height: 58px;
  }
  .sign-in {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    left: 692px;
  }
  .active-indicator {
    position: absolute;
    top: 44px;
    left: 8px;
    border-radius: 34px;
    background-color: var(--color-salmon);
    width: 30px;
    height: 3px;
  }
  .logo1,
  .nav-bar {
    position: absolute;
    top: 0;
    left: 434px;
    width: 844px;
    height: 58px;
  }
  .logo1 {
    top: 3px;
    left: 0;
    width: 126.6px;
    height: 64.18px;
    text-align: center;
    font-size: 31.62px;
    font-family: var(--font-volkhov);
  }
  .top-nav-bar {
    position: absolute;
    top: 63px;
    left: 321px;
    width: 1278px;
    height: 67.18px;
    text-align: left;
    font-size: var(--font-size-mid);
    color: var(--white);
    font-family: var(--font-circular-std);
  }
  .scroll-child,
  .scroll-item {
    position: absolute;
    top: 98px;
    left: 115px;
    border-radius: 50%;
    border: 1px dashed var(--white);
    box-sizing: border-box;
    width: 162px;
    height: 162px;
  }
  .scroll-item {
    top: 0;
    left: 0;
    width: 392px;
    height: 392px;
  }
  .scroll1 {
    position: absolute;
    top: 139px;
    left: 172px;
    font-weight: 300;
  }
  .scroll {
    position: absolute;
    top: 793px;
    left: 28px;
    width: 392px;
    height: 392px;
  }
  .group-child13,
  .group-child14,
  .group-child15 {
    position: absolute;
    top: 0;
    left: 48.25px;
    border-radius: var(--br-20xl);
    background-color: var(--color-salmon);
    width: 31.25px;
    height: 1.95px;
  }
  .group-child14,
  .group-child15 {
    left: 96.5px;
    background-color: var(--white);
  }
  .group-child15 {
    left: 0;
  }
  .header,
  .rectangle-parent1 {
    position: absolute;
    top: 919.02px;
    left: 896px;
    width: 127.75px;
    height: 1.95px;
  }
  .header {
    top: 0;
    left: 0;
    width: 1920px;
    height: 1185px;
    text-align: center;
    font-size: var(--font-size-lg);
  }
  .mask-group-icon2,
  .mask-group-icon3 {
    position: absolute;
    top: 75px;
    left: 837.39px;
    width: 160.47px;
    height: 50px;
    object-fit: cover;
  }
  .mask-group-icon3 {
    left: 493.39px;
    width: 165px;
  }
  .image-909-icon,
  .image-912-icon,
  .mask-group-icon4 {
    position: absolute;
    top: 74px;
    left: 1176.85px;
    width: 172px;
    height: 50px;
    object-fit: cover;
  }
  .image-909-icon,
  .image-912-icon {
    top: 75px;
    left: 1527.85px;
    width: 221px;
    opacity: 0.44;
  }
  .image-909-icon {
    left: 171px;
    width: 143.39px;
  }
  .partners {
    position: absolute;
    top: 1020px;
    left: 57px;
    background-color: #f7f7f7;
    width: 1920px;
    height: 200px;
    overflow: hidden;
  }
  .union-icon {
    position: relative;
    width: 229px;
    height: 188px;
  }
  .honeymoon-packages1,
  .tours-packages {
    position: absolute;
    top: 43px;
    left: 16px;
  }
  .tours-packages {
    top: 78px;
  }
  .build-package,
  .musical-events,
  .services2 {
    position: absolute;
    top: 148px;
    left: 16px;
  }
  .musical-events,
  .services2 {
    top: 113px;
  }
  .services2 {
    top: 109px;
    left: 935px;
    backdrop-filter: blur(15px);
    width: 229px;
    height: 188px;
    font-size: var(--font-size-sm);
  }
  .homepage {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 4018px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--white);
    font-family: var(--font-poppins);
  }
  