.offerContainer{
    background-color: white;
    padding: 3% 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.offerPTagOne{
    color: #DF6951;
    font-weight: 700;
}
.offerPTagTwo{
    color: #000;
    font-size: 30px;
    font-weight: 700;
}
.OfferDiv{
    display: flex;
    padding: 30px 10px;
    width: 75%;
    column-gap: 5%;
    justify-content: flex-start;
    align-items: flex-start;
}
.offerContent{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;

}