
@media screen and (max-width: 480px){
    .offerContainer{
        background-color: white;
        padding: 3% 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .offerPTagOne{
        color: #DF6951;
        font-size: 15px;
        font-weight: 700;
    }
    .offerPTagTwo{
        color: #181E4B;
        font-size: 25px;
        font-weight: 700;
    }
    .OfferDiv{
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 10px;
        row-gap: 20px;
        grid-template-rows: 50% 50%;
        padding: 30px 10px;
        width: 90%;
        column-gap: 5%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .offerContent{
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
    
    }
    
}

@media screen and (min-device-width: 481px) and (max-width: 768px){
    .offerContainer{
        background-color: white;
        padding: 3% 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .offerPTagOne{
        color: #DF6951;
        font-size: 15px;
        font-weight: 700;
    }
    .offerPTagTwo{
        color: #181E4B;
        font-size: 25px;
        font-weight: 700;
    }
    .OfferDiv{
        display: grid;
        grid-template-columns: 40% 40%;
        column-gap: 10px;
        row-gap: 20px;
        grid-template-rows: 50% 50%;
        padding: 30px 10px;
        width: 90%;
        column-gap: 5%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .offerContent{
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
    
    }
    
}

@media screen and (min-device-width: 769px) and (max-width: 991px){
    .offerContainer{
        background-color: white;
        padding: 3% 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .offerPTagOne{
        color: #DF6951;
        font-weight: 700;
        font-size: 17px;
    }
    .offerPTagTwo{
        color: #181E4B;
        font-size: 25px;
        font-weight: 700;
    }
    .OfferDiv{
        display: flex;
        padding: 30px 10px;
        width: 100%;
        column-gap: 5%;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
    }
    .offerContent{
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;  
    } 
}

@media screen and (min-device-width: 992px) and (max-width: 1200px) {
    .offerContainer{
        background-color: white;
        padding: 3% 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .offerPTagOne{
        color: #DF6951;
        font-weight: 700;
    }
    .offerPTagTwo{
        color: #181E4B;
        font-size: 30px;
        font-weight: 700;
    }
    .OfferDiv{
        display: flex;
        padding: 30px 10px;
        width: 90%;
        column-gap: 5%;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
    }
    .offerContent{
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
    
    } 
}

@media screen and (min-device-width: 1201px){
    .offerContainer{
        background-color: white;
        padding: 3% 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .offerPTagOne{
        color: #DF6951;
        font-weight: 700;
    }
    .offerPTagTwo{
        color: #181E4B;
        font-size: 35px;
        font-weight: 700;
    }
    .OfferDiv{
        display: flex;
        padding: 30px 10px;
        width: 90%;
        column-gap: 5%;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
    }
    .offerContent{
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
    
    } 
}