.TropicalMain{
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;

}

.TropicalImage{
    width: 500px;
    height: 500px;
    display: flex;
    justify-self: center;
    margin-left: -40px;
}

.TropicalText{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.TropicalTextOne{
    color: #df6951;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.TropicalTextTwo{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

.TropicalTextThree{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.TropicalBtn{
    background-color: #df6951;
    border: 1px none;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}