/* .BookingsCardMain{
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 2%;
}

.BookingsCardImg{
    justify-self: center;
    align-self: center;
    display: flex;
}

.BookingsCarddiv{
    text-align: left;
    width: 60%;
}

.BookingsCardtopic{
    font-weight: 700;
}

.BookingsCardbody{
    font-weight: 400;
} */

@media screen and (min-device-width: 481px) and (max-width: 768px){
    .BookingsCardMain{
        display: grid;
        grid-template-columns: 30% 70%;
        column-gap: 2%;
    }
    
    .BookingsCardImg{
        justify-self: flex-end;
        align-self: center;
        display: flex;
    }
    
    .BookingsCarddiv{
        text-align: left;
        width: 80%;
    }
    
    .BookingsCardtopic{
        font-weight: 700;
    }
    
    .BookingsCardbody{
        font-weight: 400;
    }
    
}

@media screen and (min-device-width: 769px) and (max-width: 991px){
    .BookingsCardMain{
        display: grid;
        grid-template-columns: 20% 80%;
        column-gap: 2%;
    }
    
    .BookingsCardImg{
        justify-self: center;
        align-self: center;
        display: flex;
    }
    
    .BookingsCarddiv{
        text-align: left;
        width: 80%;
    }
    
    .BookingsCardtopic{
        font-weight: 700;
    }
    
    .BookingsCardbody{
        font-weight: 400;
    } 
}
@media screen and (min-device-width: 992px){
    .BookingsCardMain{
        display: grid;
        grid-template-columns: 15% 85%;
        column-gap: 2%;
    }
    
    .BookingsCardImg{
        justify-self: center;
        align-self: center;
        display: flex;
    }
    
    .BookingsCarddiv{
        text-align: left;
        width: 90%;
    }
    
    .BookingsCardtopic{
        font-weight: 700;
    }
    
    .BookingsCardbody{
        font-weight: 400;
    } 
}