@media screen and (max-width: 480px){
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
    width: 100%;
  }
  .FlightCardContainer img{
    width: 70px;
    height: 70px;
  }  
  .FlightCardtopic {
    font-weight: 700;
    width: 100%;
    font-size: 14px;
    color: #181E4B;
  }
  .FlightCardbody{
    font-size: 11px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 50px;
    width: 50px;
    margin-top: -35px;
    margin-left: -55px;
    position: relative;
    transform: translateX(-50%);
  }
}


@media screen and (min-device-width: 481px) and (max-width: 768px){
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
    width: 70%;
  }
  
  .FlightCardtopic {
    font-weight: 700;
    color: #181E4B;
  }
  .FlightCardbody{
    font-size: 13px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 70px;
    width: 70px;
    margin-top: -50px;
    margin-left: -100px;
    position: relative;
    transform: translateX(-50%);
  }
}

@media screen and (min-device-width: 769px) and (max-width: 991px){
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  
  .FlightCardtopic {
    font-weight: 700;
    color: #181E4B;
  }
  
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 50px;
    width: 50px;
    margin-top: -35px;
    margin-left: -100px;
    position: relative;
    transform: translateX(-50%);
  } 
}

@media screen and (min-device-width: 992px) and (max-width: 1200px) {
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  .FlightCardtopic {
    font-weight: 700;
    color: #181E4B;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 50px;
    width: 50px;
    margin-top: -35px;
    margin-left: -130px;
    position: relative;
    transform: translateX(-50%);
  } 
}
@media screen and (min-device-width: 1201px) and (max-width: 1600px) {
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  .FlightCardtopic {
    font-weight: 700;
    color: #181E4B;
    font-size: 20px;
  }
  .FlightCardbody{
    font-size: 18px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 100px;
    width: 100px;
    margin-top: -65px;
    margin-left: -120px;
    position: relative;
    transform: translateX(-50%);
  } 
}

@media screen and (min-device-width: 1601px) and (max-width: 1700px) {
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  .FlightCardtopic {
    font-weight: 700;
    font-size: 28px;
    color: #181E4B;
  }
  .FlightCardbody{
    font-size: 20px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 100px;
    width: 100px;
    margin-top: -60px;
    margin-left: -170px;
    position: relative;
    transform: translateX(-50%);
  } 
}

@media screen and (min-device-width: 1701px) and (max-width: 1900px) {
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  .FlightCardtopic {
    font-weight: 700;
    color: #181E4B;
    font-size: 30px;
  }
  .FlightCardbody{
    font-size: 20px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 100px;
    width: 100px;
    margin-top: -60px;
    margin-left: -200px;
    position: relative;
    transform: translateX(-50%);
  } 
}

@media screen and (min-device-width: 1901px) and (max-width: 2200px) {
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  .FlightCardtopic {
    font-weight: 700;
    color: #181E4B;
    font-size: 35px;
  }
  .FlightCardbody{
    font-size: 23px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 100px;
    width: 100px;
    margin-top: -60px;
    margin-left: -250px;
    position: relative;
    transform: translateX(-50%);
  } 
}

@media screen and (min-device-width: 2201px){
  .flightCardTwoMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 20px;
  }
  .FlightCardContainer {
    z-index: 99999;
    border-radius: 30px;
    padding: 0px 10px 10px 10px;
    position: relative;
    background-color: white;
  }
  .FlightCardtopic {
    font-weight: 700;
    font-size: 40px;
    color: #181E4B;
  }
  .FlightCardbody{
    font-size: 23px;
  }
  .boxShadow {
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.1);
  }
  .flightCardSmCard {
    background-color: #df6951;
    border-radius: 16px;
    height: 100px;
    width: 100px;
    margin-top: -60px;
    margin-left: -300px;
    position: relative;
    transform: translateX(-50%);
  } 
}